@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
  --font-mono: var(--font-naughty-monster);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 2rem;
  --background: oklch(1 0 0);
  --foreground: oklch(30.12% 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(30.12% 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(30.12% 0 0);
  --primary: oklch(75.24% 0.166 62.5);
  --primary-foreground: oklch(0.421 0.095 57.708);
  --secondary: oklch(97.02% 0 0);
  --secondary-foreground: oklch(0.21 0.006 285.885);
  --muted: oklch(97.02% 0 0);
  --muted-foreground: oklch(0.552 0.016 285.938);
  --accent: oklch(97.02% 0 0);
  --accent-foreground: oklch(0.21 0.006 285.885);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.92 0.004 286.32);
  --input: oklch(0.92 0.004 286.32);
  --ring: oklch(75.24% 0.166 62.5);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  *::-webkit-scrollbar {
    @apply hidden;
  }

  body {
    @apply bg-background text-foreground font-sans;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-mono;
  }

  h1 {
    @apply text-5xl min-[360px]:text-6xl sm:text-7xl md:text-8xl lg:text-9xl;
  }

  h2 {
    @apply text-4xl min-[360px]:text-5xl sm:text-6xl md:text-7xl lg:text-[80px];
  }

  h3 {
    @apply text-4xl md:text-5xl lg:text-[64px];
  }

  html.lenis,
  html.lenis body {
    @apply h-auto;
  }

  .lenis.lenis-smooth {
    @apply !scroll-auto;
  }

  .lenis.lenis-smooth [data-lenis-prevent] {
    @apply overscroll-contain;
  }

  .lenis.lenis-stopped {
    @apply overflow-hidden;
  }

  .lenis.lenis-smooth iframe {
    @apply pointer-events-none;
  }
}
